.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.coverage
coverage.xml
dist
build
node_modules
client/node_modules
frontend/node_modules
client/dist
frontend/dist
notebooks
