# Databricks
SERVING_ENDPOINT_NAME=my_endpoint
JOB_ID=00000
VECTOR_SEARCH_ENDPOINT_NAME=pd_vector_search
VECTOR_SEARCH_INDEX_NAME=pd.default.vector_index

# Lakebase
LAKEBASE_HOST=127.0.0.1
LAKEBASE_PORT=5432
LAKEBASE_DB=mydb
LAKEBASE_USER=myuser
LAKEBASE_PASSWORD=mypassword

# Environment
ENVIRONMENT=development
LOG_LEVEL=INFO

# SQLAlchemy
# DATABASE_URL corresponds to the database connection string used by Alembic
DATABASE_URL=postgresql+asyncpg://myuser:mypassword@127.0.0.1:5432/mydb

